
.DS_Store
CircuitPython_LCD/.idea/CircuitPython_LCD.iml
CircuitPython_LCD/.idea/inspectionProfiles/profiles_settings.xml
CircuitPython_LCD/.idea/libraries/MicroPython.xml
CircuitPython_LCD/.idea/misc.xml
CircuitPython_LCD/.idea/modules.xml
CircuitPython_LCD/.idea/vcs.xml
CircuitPython_Servo/.idea/.name
CircuitPython_Servo/.idea/workspace.xml
CircuitPython_Servo/.idea/workspace.xml
CircuitPython_Servo/.idea/workspace.xml
